@model App.Domain.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchType!.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatchToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatchToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenedToJoin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenedToJoin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CratedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CratedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CratedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CratedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
